{% extends "base.html" %}

{% block head %}
    <title>Omegame - 404</title>
    <meta http-equiv="refresh" content="3; URL=/" />
{% endblock %}

{% block body %}
    <div class="centered">
        <b style="font-size: 250%">Ой!</b><br>
        Видимо, вы перешли на несуществующую страницу.<br>
        Не переживайте, мы перенесём вас на домашнюю страницу Omegame через 3 секунды.<br>
        <br>
        <i style="color: rgba(0,0,0,0.2)">
            Неловко вышло...
        </i>
    </div>
{% endblock %}