{% extends "base.html" %}

{% block header %}
    <nav class="navbar navbar-dark bg-transparent">
        {% if current_user.is_authenticated %}
        <div class="navbar-brand">
            <a class="white special" style="font-size: 125%; display: block"
               href="/user?id={{ current_user.id }}">{{ current_user.name }} {{ current_user.surname }}</a>
            {% if current_user.level > 0 %}
                {% if current_user.level == 1 %}
                    <div style="color: #ad2; font-size: 80%; display: inline; font-style: italic">Модератор</div>
                {% elif current_user.level == 2 %}
                    <div style="color: #2bd; font-size: 80%; display: inline; font-style: italic">Админ</div>
                {% elif current_user.level == 3 %}
                    <div style="color: #d2d; font-size: 80%; display: inline; font-style: italic">Коренной аккаунт</div>
                {% endif %}
                <div style="display: inline; font-size: 80%"> | </div>
            {% endif %}
            <a class="white special" style="color: #d22; font-size: 80%" href="/logout">Выйти</a>
        </div>
        {% else %}
        <p>
            <a class="btn btn-primary " href="/register">Register</a>
            <a class="btn btn-success" href="/login">Log in</a>
        </p>
        {% endif %}
    </nav>
{% endblock %}

{% block footer %}
<!-- Сюда низ сайта -->
{% endblock %}