{% extends "ext.html" %}

{% block head %}
    <title>Omegame - {{ name }}</title>
{% endblock %}

{% block body %}
    <div style="font-family: Montserrat">
        <div class="columned-content"> <!-- 1/2: основной контент -->
            <div class="column" style="width: 75%"> <!-- главная часть -->
                <div style="font-size: 150%">
                    <div style="font-size: 200%">
                        {% if steamlink == "no link" %} <!-- ссылки нет -->
                            {{ name }}
                        {% else %}
                            <a class="white" href="{{ steamlink }}">{{ name }}</a>
                        {% endif %}
                    </div>
                    <div style="color: rgba(238, 238, 238, 0.5);">{{ date }} | {{ dev }}</div>
                </div>
                <img src="{{ imgurl }}" alt="{{ name }}" style="width: 100%; border: solid #eee">
            </div>
            <div class="column" style="width: 25%"> <!-- рецензии -->
                <div align="right" style="margin-bottom: 16px">
                    <div style="background: #4d4; border-radius: 20px; padding: 0 15px; display: inline-block">
                        <div style="font-size: 300%; display: inline">10</div>
                        <div style="display: inline">/ 10</div>
                    </div>
                </div>
                <div class="reviews-frame" style="height: 100%">
                    <div style="text-align: center">Здесь будут рецензии.</div>
                </div>
            </div>
        </div>
        <div>
            <div>
                {{ desc }}
            </div>
            <h2 style="margin: 64px 0 0 0">Турниры</h2>
            <div align="center" style="margin: 32px 0">
                {% if current_user.is_authenticated %}
                    <a class="btn btn-success btn-lg" href="/create_tournament?gameid={{ myid }}" role="button">
                        Начать новый турнир
                    </a>
                {% endif %}
            </div>
            <div class="tournaments-frame">
                {% for t in tournaments %}
                    <div>
                        <h3><a class="white" href="/tournament?id={{ t.id }}">{{ t.name }}</a></h3>
                        {{ t.start }} (UTC+0)
                        {% if now.timestamp() > t.start.timestamp() %} <!-- турнир уже начался -->
                            {% if not t.state %} <!-- не закончился -->
                                <div style="color: #dd3">Ещё идет</div>
                            {% else %} <!-- закончился -->
                                <div style="color: #d33">Закончился</div>
                            {% endif %}
                        {% else %} <!-- не начался -->
                            <div style="color: #3d3">Ещё не начался</div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>

        <form action="/">
            <a class="back_button" href="javascript:history.back()">Back</a>  <a class="back_button" href="/user/id={{ current_user.id }}">Like</a>
        </form>
    </div>

{% endblock %}