{% extends "base.html" %}

{% block body %}
    <div style="font-size: 400%; font-weight: 700; margin-bottom: 40px">Добро пожаловать в Omegame!</div>
    <div style="padding-left: 40px; margin-bottom: 40px">
        Перед тем, как стать частью сообщества Omegame, пройдите небольшую регистрацию.<br>
        При регистрации и подтверждении вашего аккаунта, вы можете:<br>
        <ul>
            <li>Искать игры по жанрам, цене и разработчику</li>
            <li>Оставлять рецензии на игры</li>
            <li>Проводить и учавствовать в турнирах</li>
        </ul>
    </div>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <p>
            <h3>{{ form.email.label }}</h3>
            <div>
                Мы свяжемся с вами через email чтобы подтвердить ваш аккаунт.
                <div style="display: inline; color: rgba(238, 238, 238, 0.5)">
                    (на самом деле мы пока так не умеем)
                </div>
            </div>
            {{ form.email(class="form-control", type="email") }}<br>
            {% for error in form.email.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            <h3>{{ form.password.label }}</h3>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            <h3>{{ form.password_again.label }}</h3>
            {{ form.password_again(class="form-control", type="password") }}<br>
            {% for error in form.password_again.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            <h3>{{ form.surname.label }}</h3>
            {{ form.surname(class="form-control") }}<br>
            {% for error in form.surname.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            <h3>{{ form.name.label }}</h3>
            {{ form.name(class="form-control") }}<br>
            {% for error in form.name.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            <h3>{{ form.age.label }}</h3>
            {{ form.age(class="form-control") }}<br>
            {% for error in form.age.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        {{message}}
    </form>
{% endblock %}