{% extends "ext.html" %}

{% block head %}
    <title>Omegame - {{ name }} {{ surname }}</title>
{% endblock %}

{% block body %}
<div style="font-family: Montserrat">
    <div class="text-center">
        <h1>Личный кабинет пользователя {{ nickname }}</h1>
    </div>
    <img src="{{ url_for('static', filename='images/default_image.png') }}" align="right"
         width="300" height="300" alt="Фото профиля">
    <h1>{{ name }} {{ surname }}</h1>
    <p>Возраст: {{ age }}</p>
    {% if level_profile == 0 %}
        <a class="white" style="color: #d11" href="/is_your_email">Учетная запись не подтверждена</a>
    {% else %}
        <p>Подтвержденная учетная запись</p>
    {% endif %}
    <hr>
    <h2>Мой email: {{ email }}</h2>
    <h2>Любимые игры: </h2>
    <ul>
        {% for i in games %}
        <li><a class="white" href="/game?gameid={{ i[0] }}">{{ i[1] }}</a></li>
        {% endfor %}
        </ul>
    <h2>Мои турниры</h2>
    <table class="table_blur">
        <tr>
            <th>Название турнира</th>
            <th>Дата начала</th>
            <th>Текущий статус</th>
        </tr>
        {% for i in tournaments %}
        <tr>
            <th>{{ i.name }}</th>
            <th>{{ i.start }}</th>
            {% if (i.flags % 2) == 1 %}
            <th>Закончился</th>
            {% else %}
            <th>Идет</th>
            {% endif %}
        {% endfor %}
        </tr>
    </table>
    {% if id != 0 %}
        <br>
        <a class="white" href="/profile_edit">Изменить</a>
    {% endif %}
    <h1></h1>
    <form action="/">
        <a class="back_button" href="/">Назад</a>
    </form>
</div>
{% endblock %}
